name: widget_arrows
description: Simply draw customizable arrows between any widgets in your app.
version: 0.1.4
homepage: https://github.com/Schwusch/widget_arrows

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
